@import "libs";
@import "base/vars";
@import "base/fonts";
@import "base/resset";
@import "base/mixins";
*{
  box-sizing: border-box;
}
body{
  background-color: red($color: #000000);
  font-family: $main-font;
  font-weight: 400;
}
.app{
  padding-left: 17.5vw;
  position: relative;
  height: 200vh;
}
.left__menu{
    width: 17.5vw;
    background-color: #fff;
    position: fixed;
    left: 0;
    padding-left: 2vw;
    top: 0;
    z-index: 50;
    height: 100vh;
    box-shadow: 2px 0px 10px rgba($color: #000000, $alpha: .2);
    transition: all .1s ease;
}
.left__menu .logo img{
  width: 100%;
  height: auto;
}
.left__menu .logo a{
  width: 100%;
}
.left__menu .logo{

  padding-right: 1vw;
}

.left__menu__item{
  padding-right: 1vw;
}
.left__menu__item:first-child a{
  font-size: 1.2vw;
  font-weight: 900;
  color: #000000;
  border-bottom: 1px solid $bordo;
}
.left__menu__item > a{
  width: 100%;
  height: 100%;
  display: block;
  text-transform: uppercase;
  padding: 1vw 0vw 0.5vw 0vw;
  font-size: 1vw;
  text-decoration: none;
  color: #8a8b8f;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #000000;
}
.left__menu__item a img{
  margin-top: 2px;
  margin-left: 0.6vw;
  width: 1.1vw;
}
.left__menu__item > a:hover{
  color: $bordo;
  border-bottom: 1px solid $bordo;
}
.left__menu__submenu{
  display: none;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 17.5vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 18vw;
  padding-top: 6.5vw;
  background-color: rgba($color: #ffffff, $alpha: .9);
  padding-left: 1vw;
  box-shadow: 2px 0px 10px rgba($color: #000000, $alpha: .2);
  padding-right: 1vw;
}
.left__menu__submenu::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.left__menu__submenu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.left__menu__submenu::-webkit-scrollbar-thumb {
  background: $bordo;
}

/* Handle on hover */
.left__menu__submenu::-webkit-scrollbar-thumb:hover {
  background: $bordo;
}
.left__menu__submenu .left__menu__submenu-wrap div{
  font-size: 1.2vw;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1vw;
}
.left__menu__submenu-wrap{
  display: flex;
  flex-direction: column;
  padding-bottom: 1vw;
}
.left__menu__submenu a{
  width: 100%;
  height: 100%;
  display: block;
  text-transform: uppercase;
  padding: 1vw 0vw 0.5vw 0vw;
  font-size: 0.9vw;
  text-decoration: none;
  color: #8a8b8f;
}
.left__menu__submenu a:hover{
  color: $bordo;
}
.left__menu__item:hover .left__menu__submenu{
  display: block;
}


.main{
  padding: 0 2vw;
}
.header .header__top{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 3vw;
}
.header__nav ul{
  display: flex;
}
.header__nav ul li{
  margin-right: 2.5vw;
}
.header__nav a{
  font-size: 1.1vw;
  text-decoration: none;
  font-weight: 500;
  color: $grey;
  transition: 0.3;
  position: relative;
}
.header__nav a:hover{
  color: $bordo;
  transition: 0.3;
}
.header__nav a::before{
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 100%;
  max-width: 0%;
  background-color: #000000;
  transition: 0.3s linear;
}
.header__nav a:hover::before{
  max-width: 100%;
}
.header__nav{
  display: flex;
  align-items: center;
}
.header__contact{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact__phone{
  font-size: 1.4vw;
  color: #000000;
  font-weight: 900;
  text-decoration: none;
  margin-bottom: 0.5vw;
}
.header__contact embed{
  width: 1vw;
  height: auto;
  margin-right: 1vw;
}
.contact__mail{
  color: $grey;
  text-decoration: none;
}
.contact__mail span{
  text-decoration:none;
  font-size: 1.1vw;
  border-bottom: 1px dashed #000000;
}

.header_bot{
  display: flex;
  justify-content: space-between;
}

.header__bot__serch input{
  height: 3vw;
  font-size: 1.1vw;
  padding: 1vw 1.5vw;
  border: 1px solid #e3e3e3;
  width: 31vw;
}
.header__bot__serch input::placeholder{
  font-size: 1.1vw;
  color: #e3e3e3;
}
.header__bot__serch form{
  position: relative;
  display: flex;
}
.header__bot__serch button{
  width: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bordo;
  border: none;
}
.header__bot__serch button img{
  width: 1vw;
}
.header__bot__right{
  display: flex;
  align-items: center;
}
.login{
  cursor: pointer;
  color: $grey;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
}
.login img{
  margin-right: 0.5vw;
  width: 1vw;
  height: 1vw;
}
.v{
  position: relative;
  display: flex;
  align-items: center;
}
.v:after{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: $grey;
  transform: rotate(45deg);
  margin: 0 0.5vw;
}
.shop__cart{
  text-decoration: none;
  position: relative;
  margin-left: 2vw;
  display: flex;
  align-items: center;
}
.shop__cart img{
  width: 1.5vw;
}
.shop__cart span{
  font-size: 1vw;
  color: #ffffff;
  font-weight: 600;
  width: 1.6vw;
  height: 1.6vw;
  display: inline-block;
  background-color: $bordo;
  border-radius: 100%;
  padding: 0.3vw;
  text-align: center;
  margin-bottom: 1vw;
  margin-left: 0.2vw;
}

.big__slider{
  height: 32vw;
  margin: 2.5vw 0;
}
.big__slider__item{
  width: 100%;
  height: 32vw;
  background-size: cover;
}
.big__slider .slick-prev{
  left: 0;
}
.big__slider .slick-next{
  right: 0;
}
.slick-arrow{
  height: 4vw;
  z-index: 2;
  width: 4vw;
  border-radius: 100%;
  background-color: #e1e1e1;
}
.slick-arrow:hover{
  background-color: #e1e1e1;
}
.slick-arrow:before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #53555b;
  margin: 0 0.5vw;
}
.big__slider .slick-next:before{
  transform: rotate(-45deg);
}
.big__slider .slick-prev:before{
  transform: rotate(135deg);
}