@import "libs";
@import "base/vars";
@import "base/fonts";
@import "base/resset";
@import "base/mixins";
*{
  box-sizing: border-box;
}
body{
  background-color: red($color: #000000);
  font-family: $main-font;
  font-weight: 400;
  overflow-x: hidden;
}
.app{
  padding-left: 17.5vw;
  position: relative;
  height: 200vh;
}
.left__menu{
    width: 17.5vw;
    background-color: #fff;
    position: fixed;
    left: 0;
    padding-left: 2vw;
    top: 0;
    z-index: 50;
    height: 100vh;
    box-shadow: 2px 0px 10px rgba($color: #000000, $alpha: .2);
    transition: all .1s ease;
}
.left__menu .logo img{
  width: 100%;
  height: auto;
}
.left__menu .logo a{
  width: 100%;
}
.left__menu .logo{

  padding-right: 1vw;
}

.left__menu__item{
  padding-right: 1vw;
}
.left__menu__item:first-child a{
  font-size: 1.2vw;
  font-weight: 900;
  color: #000000;
  border-bottom: 1px solid $bordo;
}
.left__menu__item > a{
  width: 100%;
  height: 100%;
  display: block;
  text-transform: uppercase;
  padding: 1vw 0vw 0.5vw 0vw;
  font-size: 1vw;
  text-decoration: none;
  color: #8a8b8f;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #000000;
}
.left__menu__item a img{
  margin-top: 2px;
  margin-left: 0.6vw;
  width: 1.1vw;
}
.left__menu__item > a:hover{
  color: $bordo;
  border-bottom: 1px solid $bordo;
}
.left__menu__submenu{
  display: none;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 17.5vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 18vw;
  padding-top: 6.5vw;
  background-color: rgba($color: #ffffff, $alpha: .9);
  padding-left: 1vw;
  box-shadow: 2px 0px 10px rgba($color: #000000, $alpha: .2);
  padding-right: 1vw;
}
.left__menu__submenu::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.left__menu__submenu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.left__menu__submenu::-webkit-scrollbar-thumb {
  background: $bordo;
}

/* Handle on hover */
.left__menu__submenu::-webkit-scrollbar-thumb:hover {
  background: $bordo;
}
.left__menu__submenu .left__menu__submenu-wrap div{
  font-size: 1.2vw;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1vw;
}
.left__menu__submenu-wrap{
  display: flex;
  flex-direction: column;
  padding-bottom: 1vw;
}
.left__menu__submenu a{
  width: 100%;
  height: 100%;
  display: block;
  text-transform: uppercase;
  padding: 1vw 0vw 0.5vw 0vw;
  font-size: 0.9vw;
  text-decoration: none;
  color: #8a8b8f;
}
.left__menu__submenu a:hover{
  color: $bordo;
}
.left__menu__item:hover .left__menu__submenu{
  display: block;
}


.main{
  padding: 0 2vw;
}
.header .header__top{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 3vw;
}
.header__nav ul{
  display: flex;
}
.header__nav ul li{
  margin-right: 2.5vw;
}
.header__nav a{
  font-size: 1.1vw;
  text-decoration: none;
  font-weight: 500;
  color: $grey;
  transition: 0.3;
  position: relative;
}
.header__nav a:hover{
  color: $bordo;
  transition: 0.3;
}
.header__nav a::before{
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  height: 1.5px;
  width: 100%;
  max-width: 0%;
  background-color: #000000;
  transition: 0.3s linear;
}
.header__nav a:hover::before{
  max-width: 100%;
}
.header__nav{
  display: flex;
  align-items: center;
}
.header__contact{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact__phone{
  font-size: 1.4vw;
  color: #000000;
  font-weight: 900;
  text-decoration: none;
  margin-bottom: 0.5vw;
}
.header__contact embed{
  width: 1vw;
  height: auto;
  margin-right: 1vw;
}
.contact__mail{
  color: $grey;
  text-decoration: none;
}
.contact__mail span{
  text-decoration:none;
  font-size: 1.1vw;
  border-bottom: 1px dashed #000000;
}

.header_bot{
  display: flex;
  justify-content: space-between;
}

.header__bot__serch input{
  height: 3.5vw;
  font-size: 1.1vw;
  padding: 1vw 1.5vw;
  border: 1px solid #e3e3e3;
  width: 31vw;
}
.header__bot__serch input::placeholder{
  font-size: 1.1vw;
  color: #e3e3e3;
}
.header__bot__serch form{
  position: relative;
  display: flex;
}
.header__bot__serch button{
  width: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bordo;
  border: none;
}
.header__bot__serch button img{
  width: 1vw;
}
.header__bot__right{
  display: flex;
  align-items: center;
}
.login{
  cursor: pointer;
  color: $grey;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
}
.login img{
  margin-right: 0.5vw;
  width: 1vw;
}
.v{
  position: relative;
  display: flex;
  align-items: center;
}
.v:after{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: $grey;
  transform: rotate(45deg);
  margin: 0 0.5vw;
}
.shop__cart{
  text-decoration: none;
  position: relative;
  margin-left: 2vw;
  display: flex;
  align-items: center;
}
.shop__cart img{
  width: 1.5vw;
}
.shop__cart span{
  font-size: 1vw;
  color: #ffffff;
  font-weight: 600;
  width: 1.6vw;
  height: 1.6vw;
  display: inline-block;
  background-color: $bordo;
  border-radius: 100%;
  padding: 0.3vw;
  text-align: center;
  margin-bottom: 1vw;
  margin-left: 0.2vw;
}
.slider__section{
  margin: 2.5vw 0;
  position: relative;
}
.big__slider{
  position: relative;
  z-index: 2;
}
.big__slider__item{
  width: 100%;
  height: 42vw;
  display: block;
  background-position: center;
  background-size: cover;
}
.big__slider .slick-prev{
  left: 1vw;
}
.big__slider .slick-next{
  right: 1vw;
}
.slick-arrow{
  height: 4vw;
  z-index: 2;
  width: 4vw;
  border-radius: 100%;
  background-color: #e1e1e1;
}
.slick-arrow:hover{
  background-color: #e1e1e1;
}
.slick-arrow:before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-color: #000000;
  margin: 0 0.5vw;
}
.big__slider .slick-next:before{
  transform: rotate(-45deg);
}
.big__slider .slick-prev:before{
  transform: rotate(135deg);
}
.slick-arrow:focus{
  background-color: #e1e1e1;
}
.nav__slider{
  margin: 0 -1vw;
  margin-top: 2vw;
  position: relative;
  z-index: 2;
}
.nav__slider__item{
  display: block;
  margin: 0 1vw;
  background-size: cover;
  background-position: center;
  height: 12vw;
}
.slider__section .grey-fon.first{
  bottom: 8vw;
  right: -2vw;
}
.grey-fon{
  position: absolute;
  width: 12vw;
  height: 12vw;
  z-index: 0;
  background-color: #f0f0f0;
}
.slider__section .grey-fon.last{
  bottom: -7vw;
  left: -2vw;
  height: 15vw;
}
.special{
  position: relative;
  z-index: 1;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.section__name{
  font-size:2vw;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  width: max-content;
}
.section__name:after{
  content: "";
  display: block;
  width: 60%;
  bottom: -0.8vw;
  position: absolute;
  right: -20%;
  height: 1px;
  background-color: $bordo;
}
.special__slider{
  margin: 0 -1vw;
  margin-top: 3vw;
  margin-bottom: 4vw;
}
.special__item{
  margin: 0 1vw;
  margin-bottom: 1vw;
}
.special__item:hover{
  transition: 0.3s;
  border-color: transparent;
  box-shadow:  0px 3px 9px rgba(0, 0, 0, 0.2);
}
.special__img{
  height: 12vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: 0.3s;
}
.special__img:hover{
  opacity: 0.5;
  transition: 0.3s;
}
.special__img img{
  width: 100%;
  min-height: 100%;
}
.special__slider .slick-next{
  top: -4vw;
  right: 1vw;
 
}
.special__slider .slick-next:before{
  transform: rotate(-45deg);
}
.special__slider .slick-prev{
  top: -4vw;
  right: 6vw;
  left: auto;
}
.special__slider .slick-prev:before{
  transform: rotate(135deg);
}
.slick-arrow{
  transition: 0.3s;
}
.slick-arrow:hover{
  background-color: #53555b;
  transition: 0.3s;
}
.slick-arrow:hover:before{
  border-color: #ffffff;
  transition: 0.3s;
}
.special__wrap{
  margin: 2vw 1vw 1vw 1vw;
}
.special__name{
  font-size: 1vw;
  font-weight: 500;
  color: $bordo;
  text-decoration: none;
  transition: 0.3s;
  height: 2vw;
  margin-bottom: 1vw;
  display: block;
}
.special__name:hover{
  color: $grey;
  transition: 0.3s;
}
.special__item{
  border: 1px solid #e1e1e1;
}
.special__price{
  font-size: 2vw;
  font-weight: 500;
}
.special__action{
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}
.special__action__left{
  display: flex;
  cursor: pointer;
  align-items: center;
}
.special__action__left span{
  color: #d4bbc1;
  font-size: 1vw;
  border-bottom: 1px dashed #d4bbc1;
}
.special__action__left span:hover{
  color: #3c3738;
}
.special__action__left img{
  margin-right: 0.5vw;
  width: 1vw;
  height: auto;
}
.special__action__right{
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  padding-right: 0.3vw;
  background-color: $bordo;
  transition: 0.3s;
}
.special__action__right:hover{
  opacity: 0.5;
  transition: 0.3s;
}
.special__action__right img{
  width: 1.5vw;
}
.more-link{
  display: block;
  margin: auto;
  padding: 1vw 2vw;
  border: 2px solid #53555b;
  width: max-content;
  font-size: 1vw;
  text-decoration: none;
  color: #53555b;
  min-width: 5vw;
  border-radius: 25px;
  transition: 0.3s;
}
.more-link:hover{
  transition: 0.3s;
  box-shadow: 0px 0px 7px rgba($color: #000000, $alpha: .5);
}

.article{
  position: relative;
  margin-bottom: 3vw;
  margin-top: 5vw;
  z-index: 1;
}
.article__slider{
  margin: 0 -1vw;
  position: relative;
  display: block;
  margin-top: 3vw;
  margin-bottom: 4vw;
}
.article__item{
  margin: 0 1vw;
  transition: 0.3s;
  display: block;
  text-decoration: none;
}
.acticle__img{
  width: 100%;
  overflow: hidden;
  height: 15vw;
  transition: 0.3s;
  display: block;
  position: relative;  
}
.acticle__img span{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5vw;
  color: #ffffff;
  font-size: 1vw;
  background-color: $bordo;
}
.acticle__img img{
  width: 100%;
}
.article__title{
  font-size: 1.1vw;
  display: block;
  color: $bordo;
  text-decoration: none;
  font-weight: 500;
  height: 2.2vw;
  transition: 0.3s;
  margin-bottom: 2vw;
}
.acticle__content{
  padding: 2vw 1vw 2vw 1vw;
  border: 1px solid #e1e1e1;
  border-top: 0;
}
.article__about{
  font-size: 1.1vw;
  color: #53555b;
}
.article__slider .slick-prev {
  top: -4vw;
  right: 6vw;
  left: auto;
}
.article__slider .slick-next {
  top: -4vw;
  right: 1vw;
}
.article__slider .slick-prev:before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.article__slider .slick-next:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.article__item:hover .acticle__img{
  transition: 0.3s;
  opacity: 0.5;
}
.article__item:hover .article__title{
  transition: 0.3s;
  color: #53555b;
}
.article__item:hover .article__title{
  transition: 0.3s;
  color: #53555b;
}
.article .grey-fon{
  top: -2vw;
  z-index: -1;
  right: 30vw;
  transform: rotate(45deg);
}

.footer{
  position: relative;
  margin-top: 3px;
}
.subscr{
  background-color: #c5a2ab;
  padding: 2vw 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscr__title{
  font-size: 1.1vw;
  margin-bottom: 2vw;
  color: #ffffff;
}
.subscr form {
  position: relative;
  display: flex;
}
.subscr input {
  height: 3.5vw;
  font-size: 1.1vw;
  padding: 1vw 1.5vw;
  border: 1px solid #e3e3e3;
  width: 31vw;
}
.subscr input::placeholder{
  color: #d1d1d1;
  font-size: 1.1vw;
}
.subscr button {
  display: flex;
  justify-content: center;
  background-color: #bc4952;
  border: none;
  color: #ffffff;
  font-size: 1.1vw;
  padding: 0 2vw;
}

.map{
  height: 725px;
  position: relative;
}
.footer__form{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  background-color: rgba($color: #e5e5e2, $alpha: .7);
}
.footer__form__wrap{
  padding: 0 2vw;
}
.footer__form  .section__name{
  text-align: center;
  width: 100%;
}
.footer__form .section__name:after{
  left: -2vw;
}
.footer__form{
  padding-top: 5vw;
}
.footer__form__tel{
  font-size: 24px;
  margin-top: 2vw;
  display: block;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
.social{
  display: flex;
}
.social a{
  margin-right: 0.5vw;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  text-decoration: none;
  color: #ffffff;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.social a i:before{
  font-size: 1vw;
}
.social a.ivk{
  background-color: #455c81;
}

.social a.ifb{
  background-color: #414f91;
}
.social a.itw{
  background-color: #4aa2d7;
}
.social a.igp{
  background-color:#bd330c;
}
.social a.iinst{
  background-color:#221d21;
}
.footer__form form{
  display: flex;
  flex-direction: column;
}
.footer__form form input{
  height: 3vw;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 1vw;
  border: 0;
  font-size: 1vw;
  background-color: rgba($color: #eef1eb, $alpha: 1);
}
.footer__form form textarea{
  height: 10vw;
  border: 0;
  padding: 1vw;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 1vw;
  background-color: rgba($color: #eef1eb, $alpha: 1);
}
.footer__form form textarea::placeholder{
  font-size: 1vw;
  font-family: 'Roboto', sans-serif;
}
.footer__form .form__item{
  position: relative;
  height: max-content;
  margin-bottom: 1vw;
}
.footer__form .form__item::before{
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  right: 0;
  height: 0.05vw;
  background-color: #000000;
  width: 60%;
}
.footer__form form button{
  background-color: $bordo;
  width: 80%;
  margin: auto;
  color: #ffffff;
  border: 0;
  padding: 1vw 0;
  border-radius: 25px;
}
footer .grey-fon.first{
  top: -4vw;
  left: 10%;
  z-index: -1;
  transform: rotate(10deg);
}
.footer__bot{
  background-color: #53555b;
  color: #ffffff;
  padding: 2vw 2vw;
  display: flex;
}
.footer__copi{
  margin-bottom: 2vw;
}
.footer__copi p{
  font-size: 1vw;
  line-height: 2vw;
  width: 80%;
}
.footer__bot__left{
  display: flex;
  width: 50%;
  flex-direction: column;
}
.footer__bot__right{
  display: flex;
  width: 50%;
}
.footer__contact__item{
  display: block;
  margin-bottom: 1vw;
  color: #fff;
  text-decoration: none;
}
.footer__contact__item:hover span{
  text-decoration: underline;
}
.footer__contact__item i{
  color: #7a8286;
  margin-right: 1vw;
}
.footer__contact__item.phone{
  font-weight: 900;
}